@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --input-bg: #fff;
  --border-color: #ccc;
}

.dark {
  --input-bg: #1f2937;
  --border-color: #4b5563;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
